<div>
  <h1>Snippets</h1>
  <p>
    <%= link_to 'New Snippet', new_admin_snippet_path, class: "btn btn-primary" %>
  </p>
</div>

<% if @snippets.present? %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Snippet</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= link_to snippet.name, [:admin, snippet] %></td>
        <td><%= truncate snippet.snippet %></td>
        <td><%= snippet.status %></td>
        <td><%= link_to 'Edit', edit_admin_snippet_path(snippet) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>
    No snippets
  </p>
<% end %>
